<!DOCTYPE html>
<html lang="en">
<head>

</head>


<body>

<!-- Aside Start-->
<include file="aside"/>
<!-- Aside Ends-->


<!--Main Content Start -->
<section class="content">

    <!-- Header -->
    <include file="header"/>
    <!-- Header Ends -->


    <!-- Page Content Start -->
    <!-- ================== -->

    <div class="wraper container-fluid">

        <div class="page-title">
            <h3 class="title">入驻申请</h3>
        </div>
        <!--Widget-4 -->

        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">入驻申请表</h3></div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-md-2 control-label">商家名称</label>

                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="请填写商家名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="example-email">登录密码</label>

                                <div class="col-md-10">
                                    <input type="password" id="example-email" class="form-control"
                                           placeholder="请填写商家的登录密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">店铺地址</label>

                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="请填写商家的店铺地址">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">商家名称</label>

                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="请填写商家名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">商家评分</label>

                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="请填写商家的评分">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">商家信用评级</label>

                                <div class="col-md-10">
                                    <input type="text" class="form-control" placeholder="请填写商家的信用评级">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">商家当前状态</label>

                                <div class="col-md-10">
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-success" type="submit">提交</button>
                                    <button class="btn btn-default" type="reset">重填</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
                </form>
            </div>
            <!-- panel-body -->
        </div>
        <!-- panel -->
    </div>
    <!-- col -->
    </div>


    </div>
    <!-- Page Content Ends -->
    <!-- ================== -->

    <!-- Footer Start -->
    <include file="footer"/>
    <!-- Footer Ends -->


</section>
<!-- Main Content Ends -->


<!-- js placed at the end of the document so the pages load faster -->



</body>
<script>
    $(document).ready(function(){
        $('.pageE').addClass("active");
        $('.page10').addClass("active");
    });

</script>
</html>
